<header class="masthead">
  <p class="masthead-intro">Rishabh K. Pandey</p>
  <h1 class="masthead-heading">Backend Devloper</h1>
</header>
  <section class="introduction-section">
    <div class="container">
    <h1>About Me</h1>
    <p>Hello! I am Rishabh Kumar Pandey, I am passionate about building <strong>Fast</strong> and <strong>Scalable Systems.</strong>
      I specilize in <strong>back-end development</strong>  and have a keen eye for <strong>Algorithm Design and Data Structures</strong>.  My goal is to build
      robust and user-friendly applcations that make positive imapact. I mainly use <strong>Node.js(Express)</strong> and <strong>mongoDB</strong> for my projects.
    <p/>

    <p>
      From a young age, I was captivated by the world of coding. 
      I am pursuing <strong>B.Tech</strong> from  <strong>Vellore institute of Technology, Vellore Campus</strong>.
      where I gained a solid foundation in programming languages such as C, C++ and JavaScript. I have honed my skills through hands-on projects 
       and continuous learning.
    </p>

    <p>
      What drives me as a developer is the ability to bring ideas to life through code. 
      I thrive on the challenge of solving complex problems and 
      finding elegant solutions. I believe that technology should
      empower people and simplify their lives, and that belief is reflected
      in every line of code I write.
    </p>


    <section>
      I am also interested in <strong>Competitive Programming</strong> and have been doing it for the past 2 years.
      It has helped me to improve my problem solving skills and has also helped me to think out of the box.
      I go by the handle <a href="https://www.codechef.com/users/rishabhpandey7" target="_blank">rishabhpandey7</a> on Codechef and <a href="https://codeforces.com/profile/d3nominat0r" target="_blank">d3nominator</a> on CodeForces.
    </section>

    
    </div>
  </section>

 
  <footer class="content-footer">
    <div class="footer-container">
    <p>Say hi to me on these social networks:</p>
    
    <a target="_blank" href="https://github.com/d3nominator"><img src="static/github-svg.svg" alt="GitHub-logo" style="width:30px;height:30px;"></a>
    &nbsp;
    <a href="https://twitter.com/d3nominator" target="_blank"><img src="static/twitter-svg.svg" alt="Twitter-logo" style="width:30px;height:30px;"></a>
    &nbsp;
    <a href="https://linkedin.in/d3nominator/" target="_blank"><img src="static/linkedin-svg.svg" alt="linkedin-logo" style="width:30px;height:30px;"></a>
    <p style="margin-top: 10px;">Cover Image via <a href="http://www.kedarjoyner.com">Kedar Joyner Photography</a></p>
    </div>

  </footer>

