<ul>
  {{#each arrOfCode}}
    <div style="padding-left: 25vw; padding-right: 25vw">
      <center>
        <div>
          <strong>
            <h3>File Name :</h3>
          </strong>
          {{this.UplodedFileName}}
        </div>
      </center>
      <div
        style="border: 1px solid black; padding-left: 5px ; padding-right: 5px; padding-top: 5px; padding-bottom: 5px"
      >
        <center>
          <div style="text-align: left;">
            <pre>{{{this.content}}}</pre>
          </div>
        </center>
      </div>
    </div>
  {{/each}}
</ul>