<div style="margin-top: 100px;">
  <ol>
    {{#each arr}}
      <div
        style="padding-left: 25vw; padding-right: 25vw; padding-top: 80px padding-bottom: 30px"
      >
        <center>
          <div>
            <strong>
              File Name :
            </strong>
            {{{this.UploadedFileName}}}
          </div>
        </center>
        <div
          style="border: 2px solid rgb(0, 0, 0); padding-left: 5px ; padding-right: 5px; padding-top: 5px; padding-bottom: 5px"
        >
          <center>
            <div style="text-align: left;">
              <pre><code>{{{this.content}}}</code></pre>
            </div>
          </center>
        </div>
      </div>
    {{/each}}
  </ol>
</div>