<center style="margin-top: 100px;">
  <div class="drop_box card border-dark mb-5" style="max-width: 40rem; ">
    <div class="card-header border-success">
      <h5><strong>Upload Your Files : </strong></h5>
    </div>
    <div style="padding-top: 13px;">
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div style="padding-left: 85px;">
          <label for="file"></label>
          <input
            type="file"
            name="file"
            id="file"
            type=".c,.cpp,.java,.html,.js,.tsx,.ts,.py,.json"
          />
        </div>
        <div style="margin-top: 20px; margin-bottom:10px ">
          <label for="tags"><strong>Enter Tags : </strong>(Comma Separated)</label>
          <text type="string" name="tags" id="tags" />
          <input type="string" id="tags" name="tags" />
        </div>
        <div style=" padding-bottom: 10px;">
          <input type="submit" value="submit" class="btn btn-outline-primary" />
        </div>
      </form>
    </div>
  </div>
</center>