{{>header}}

{{!-- //create a form which posts data to upload route and accepts a file input --}}

{{message}}

<form action="/upload" method="POST" enctype="multipart/form-data">
  <label for="file">Upload Your File</label>
  <input type="file" name="file" id="file"/>
  <input type="submit" value="Upload"/>
</form>

