<header class="masthead masthead-front">
  <p class="masthead-intro">Code Spaces</p>
  <h1 class="masthead-heading">Access Your Code anywhere</h1>
</header>
<section class="introduction-section">
  <h3>How It works ? </h3>
  <p>Paragraph Exploring all the features</p>
  <h3>Why use it ?</h3>
  <p>
    Paragraph Exploring all the features
  </p>

  <h3>Contribution</h3>
  <p>
    Checkout github for more details.
  </p>
</section>