<div
  class="rounded border border-dark"
  style="margin-top: 20vh; margin-bottom: 20vh; margin-left: 30vw; margin-right: 30vw;"
>
  <div class="container">
    <div class="registration mx-auto d-block w-100">
      <div class="page-header text-center">
        <h3><strong>Sign In </strong> </h3>
      </div>
      <hr />
      <form
        id="member-registration"
        action="/astroidnew/index.php/pages/register?task=registration.register"
        method="post"
        class="form-validate form-horizontal well"
        enctype="multipart/form-data"
      >
        <fieldset>
          <h5><strong> User Login </strong> </h5>
          <hr />

          <div class="form-group">
            <label for="exampleInputPassword1">Username *</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password *</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="form-group d-flex" style="display: flex; justify-content: space-between ">
            <div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="form-check form-group d-flex justify-content-end">
              <a href="#"> Sign Up Instead </a>
            </div>
          </div>

          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>