<div
  class="rounded border border-dark"
  style="margin-top: 20vh; margin-bottom: 20vh; margin-left: 30vw; margin-right: 30vw;"
>
  <div class="container">
    <div class="registration mx-auto d-block w-100">
      <div class="page-header text-center" style="padding-top: 5px;">
        <h3><strong>Sign In </strong> </h3>
      </div>
      <hr />
      <form action="/login" method="post">
        <fieldset>
          <h5><strong>User Login</strong> </h5>
          <hr />
          {{#if messages}}
          <div class="alert alert-danger" role="alert">
            {{messages}}
          </div>
          {{/if}}
          


          <div class="form-group">
            <label for="username"><strong>Username *</strong> </label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
            />
          </div>
          <div class="form-group">
            <label for="password"><strong>Password *</strong></label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
          </div>
          <div
            class="d-flex justify-content-between align-items-center"
            style="padding-top: 1px;"
          >
            <div class="form-group d-flex justify-content-start">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="form-check form-group d-flex justify-content-end">
              <button class="btn btn-primary" style="text-color: white;"><a
                  href="/signup"
                >Sign Up instead</a></button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>