<div
  class="rounded border border-dark"
  style="margin-top: 20vh; margin-bottom: 20vh; margin-left: 30vw; margin-right: 30vw;"
>
  <div class="container">
    <div class="registration mx-auto d-block w-100">
      <div class="page-header text-center" style="padding-top: 10px">
        <h3><strong>Search </strong> </h3>
      </div>
      <hr />
      <h5>Enter Tags : Comma Separated </h5>
      <hr />
      <form action="/search" method="post">
        <fieldset>
          <label for="search"></label>
          <input type="text" id="search" name="search" /><br /><br />
          <div style="padding-bottom: 10px;">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
