<div
  style="padding-left: 25vw; padding-right: 25vw; margin-top: 100px; margin-bottom: 40px"
>
  <center>
    <h3>
      <strong>
        Your Uploded Code is :
      </strong>
    </h3>
    <div class="file_name">
      <strong>
        File Name :
      </strong>
      {{Filename}}
    </div>
  </center>
  <div style="border: 2px solid rgb(34, 29, 29);">
    <center>
      {{! dont change or beautify this code else extra spaces are added in the editor}}
      <div class="editor-container">
        <div id="editor">
          {{messages}}
        </div>
      </div>
    </center>
  </div>
</div>