<div style="padding-left: 25vw; padding-right: 25vw; margin-top: 100px;">
  <center>
    <h3>
      <strong>
        Your Uploded Code is :
      </strong>
    </h3>
    <div class="file_name">
      <strong >
        File Name :
      </strong>
      {{Filename}}
    </div>
  </center>
  <div
    style="border: 2px solid rgb(34, 29, 29); padding-left: 5px ; padding-right: 5px; padding-top: 5px; margin-bottom: 10px; background-color: rgb(254, 252, 252)"
  >
    <center>
       <div class="editor-container">
         <div id="editor">
                {{{messages}}}
        </div>
      </div>

      {{!-- <div class="editor-container">
        <div id="editor">//this is the code</div>
      </div> --}}
    </center>
  </div>
</div>