<div style="padding-left: 25vw; padding-right: 25vw">
  <center>
    <h3>
      <strong>
        Your Uploded Code is :
      </strong>
    </h3>
    <div>
      <strong>
        File Name :
      </strong>
      {{Filename}}
    </div>
  </center>
  <div
    style="border: 1px solid black; padding-left: 5px ; padding-right: 5px; padding-top: 5px; padding-bottom: 5px"
  >
    <center>
      <div style="text-align: left;">
        {{{messages}}}
      </div>
    </center>
  </div>
</div>