<div style="padding-left: 25vw; padding-right: 25vw; margin-top: 100px;">
  <center>
    <h3>
      <strong>
        Your Uploded Code is :
      </strong>
    </h3>
    <div>
      <strong>
        File Name :
      </strong>
      {{Filename}}
    </div>
  </center>
  <div
    style="border: 2px solid rgb(34, 29, 29); padding-left: 5px ; padding-right: 5px; padding-top: 5px; margin-bottom: 10px; background-color: rgb(254, 252, 252)"
  >
    <center>
      <div
        style="text-align: left; front-size: 15px; color: rgb(255, 255, 255); text-color: white"
      >
        <strong>
          <pre style="text-align: left;">{{messages}}</pre>
        </strong>
      </div>
    </center>
  </div>
</div>