<!DOCTYPE html> 
<head>

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  />

 
  <link rel="stylesheet" href="./static/main.css" />

  <title> CodeSpaces </title>

</head>
<body>

  <nav class="navbar fixed-top navbar-dark bg-dark">
    <a
      class="navbar-brand"
      href="#"
      style="padding-left: 10px; padding-right: 10px"
    ><strong>CS</strong></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><strong>Home</strong>
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><strong>Features</strong> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><strong>Contribution</strong> </a>
        </li>
      </ul>
      <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="button" type="submit">
          Search</button>
      </form>
    </div>
  </nav>

  <div class="alignCenter">
    {{{body}}}
  </div>
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.22.0/ace.js"></script>

  <script src="./static/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
  ></script>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  ></script>
 

</body>
</html>