<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <style>
      .hoo { background-color: black; color: white; } .header { padding: 60px;
      text-align: center; background: #1abc9c; color: white; font-size: 30px; }
    </style>

    {{! <link rel="stylesheet" type="text/css" href="./main.css"/> }}

  </head>

  <body>
    <!-- Body Content will render here -->
    <div class="header">
      <h1>Header</h1>
      <p>My supercool header</p>
    </div>

    {{{body}}}

    {{! <h1>Rishabh Kumar Pandey</h1> }}
    <p> sfafa fads fadsf asdfasfa a;df as;f asif asddf ias</p>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    ></script>
  </body>
</html>